/*============ GERAL ============*/

body {
	margin: 0;
	font-family: 'arial';
}

.container {
	/* background: rgb(4, 36, 144); */
	max-width: 1152px;
	margin: 0 auto;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

/* ----------- CABEÇALHO ------------ */

header {
	background-color: #24388B;
	padding: 10px 0;
}

h1 {
	margin: 0;
}

ul.principal {
	list-style: none;
	padding: 0;
	margin: 36px 0 0 0;
}

li.emLinha {
	display: inline;
	margin: 0 16px 0 0;
}

li.emLinha:last-child {
	margin: 0;
}

li.emLinha a {
	color: #fff;
	text-decoration: none;
	transition: color 0.5s;
}

li.emLinha a:hover {
	color: cyan;
	transition: color 0.5s;
}

li.emLinha a span {
	color: cyan;
	font-size: 14px;
	display: inline-block;
	transform: rotate(0deg);
	transition: transform 0.5s;
}

li.emLinha a:hover span {
	transform: rotate(-180deg);
	transition: transform 0.5s;
}

ul.oculto {
	visibility: hidden;
	position: absolute;
	background: #fff;
	border: solid 1px #000;
	border-radius: 5px;
	list-style: none;
	padding: 5px 10px;
	margin-left: 60px;
	transform: translateY(-10px);
	opacity: 0;
	transition: transform 0.5s, opacity 0.2s;
}

ul.oculto li {
	padding: 5px 0;
}

ul.oculto a {
	color: #000;
}

li.emLinha:hover ul.oculto {
	visibility: visible;
	transform: translateY(0);
	opacity: 1;
	transition: trnasform 0.5s, opacity 0.2s;
}


/* -------------- SEÇÃO 1 --------------- */

div.blocoFigura {
	width: 370px;
	margin: 50px 21px 0 0;
}

div.blocoFigura:last-child {
	margin: 50px 0 0 0;
}

div.blocoFigura figure {
	margin: 0;
}

div.blocoFigura figure img {
	max-width: 100%;
}

div.blocoFigura a {
	text-decoration: none;
	color: #2593D1;
	opacity: 1;
	transition: opacity 0.2s;
}


/* -------------- SEÇÃO 2 --------------- */

.ms2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.s2m3 {
	margin: 0 auto;
	font-size: 36px;
}


/* -------------- SEÇÃO 3 --------------- */

article {
	width: 565px;
	margin-right: 22px;
	text-align: justify;
}

article:last-child {
	margin-right: 0;
}